<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<head>
<title>StudentList</title>
</head>
<body>
<div class="container">
	<h1>Add student</h1>
	<div>
		<form th:object="${student}" th:action="@{save}" action="#" method="post">
			<label for="fname">Firstname</label>
				<input type="text" id="fname" th:field="*{firstname}" /> <!-- * means respective att (fname, lastname, email) for each ${student} -->
			<label for="lname">Lastname</label>
				<input type="text" id="lname" th:field="*{lastname}" />
			<label for="email">Email</label>
				<input type="text" th:field="*{email}" />
				<input type="submit" value="Save" ></input>
		</form>
	</div>
</div>		
	
	
	
	
</body>
</html>
