<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

<head>
<title>StudentList</title>
</head>
<body>
<div class="container">
	<table class="table table-striped">
		<tbody>
			<tr th:each="student: ${students}">
				<td th:text="${student.firstname}"></td>
				<td th:text="${student.lastname}"></td>
				<td th:text="${student.email}"></td>
				<td><a th:href="@{/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/add}" class="btn btn-primary" >Add Student</a>
</div>	
	
	
	
	
</body>
</html>


